<!DOCTYPE html>
<html lang="en">

<head>
    <title>Latijn voc</title>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <link rel="shortcut icon" type="image/png" href="./static/imgs/favicon.png" />
    <link rel="stylesheet" href="./static/style.css">
</head>

<body>
    <script src="./js/main.js" type="module"></script>
    <div class="mainApp">
        <h1>Latijn</h1>
        <div class="header">
            <span class="letter clickable" data-letter="W" v-on:click="loadScene('main')">Woorden</span>
            <span class="letter clickable" data-letter="L" v-on:click="loadScene('learn')">Leer</span>
            <span class="letter NotFinished" data-letter="T">Test</span>
            <span class="letter NotFinished" data-letter="V">Verbuiging</span>
            <span class="letter NotFinished" data-letter="W">Werkwoorden</span>
        </div>
        <div class="woordenContainer" v-if="showing.main">
            <label class="switch clickable" v-on:click="changeCurrentWords(this)">
                <input type="checkbox">
                <span class="slider round"></span>
            </label>
            <br>
            <small class="clickable" onclick="loadOtherWords(prompt('van ?'), prompt('tot ?'))">leer andere woorden</small>
            <div class="woorden">
                <div class="woord clickable" v-for="woord in curwords" v-on:click="addToSelectedWords(woord)">
                    <span class="star" v-if="woord.findIn(mainWindow.selected)">&#9873;</span>
                    <span class="star" v-else>&#9872;</span>
                    <div class="woordcontent" v-html="woord.display()"></div>
                </div>
            </div>
        </div>
        <div class="learnContainer" v-if="showing.learn">
            <form v-on:submit.prevent="submitLearnForm()">
                <div class="woordForm" v-html="learnWindow.currentWord.createHTML()"></div>
                <input class="clickable" type="submit" value="submit">
            </form>
            <div id="response" :class="learnWindow.response.class" v-html="learnWindow.response.innerHTML"></div>
        </div>
    </div>
</body>

</html>